
body{
	background-color:#fff;
	color: #777;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
header{
	
	height: 120px;
	position: fixed;
	width: 100%;
	top:0px;
	background:#fff;
	opacity: 0.8;

}
.wrapper{
	display: block;
	margin: 0 auto;

	width:80%;
	height:100px;
	align: center;

}
img{
	display: block;
	margin: 0 auto;
	max-width:100%;
	max-height:100%;

}
.tag{
	display: block;
	margin: 0 auto;
	margin-top:80px;
	width:40%;
}
#hero-image {
	margin-top:19px;
	height: 580px;
	padding-top: 1px;
	background: #e8eced url('../images/hero.jpg') no-repeat center;
}


